{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm">
        <h6>{{ language_strings['UPTIME'] }}</h6>
        <p>{{ uptime }}</p>
      </div>
      <div class="col-sm">
        <h6>{{ language_strings['LOAD_AVG'] }}</h6>
        <p>{{ load_avg }}</p>
      </div>
      <div class="col-sm">
        <h6>{{ language_strings['DASHBOARD_PEER_COUNT'] }}</h6>
        <p>{{ peer_count }}</p>
      </div>
      <div class="col-sm">
        <h6>{{ language_strings['DASHBOARD_ENDPOINT_COUNT'] }}</h6>
        <p>{{ endpoint_count }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <h6>API Key</h6>
        <p>{{ current_user.api_key }}</p>
      </div>  
    </div>
    <div class="row border border-secondary rounded">
      <div class="col-sm">
      <h6>Network Interfaces</h6>
      <table class="table table-sm table-striped">
        <thead class="thead-dark">
          <th scope="col">Id</th>
          <th scope="col">Interface</th>
          <th scope="col">Linktype</th>
          <th scope="col">MAC</th>
          <th scope="col">MTU</th>
          <th scope="col">Status</th>
        </thead>
        <tbody>
          {% if ifaces %}
          {% for iface in ifaces %}
            <tr>
            <th scope="row">{{ iface.ifindex}}</th>
            <th>{{ iface.ifname }}</th>
            <th>{{ iface.link_type }}</th>
            <th>{{ iface.address }}</th>
            <th>{{ iface.mtu }}</th>
            {% if 'UP' in iface.flags %}
            <th>{{ language_strings['DASHBOARD_ENABLED'] }}</th>
            {% else %}
            <th>{{ language_strings['DASHBOARD_DISABLED'] }}</th>
            {% endif %}
          </tr>
          {% endfor %}
          {% else %}
          <th scope="row">{{ language_strings['MANAGE_ENDPOINT_LISTENPORT'] }}</th>  
          {% endif %}
        </tbody> 
      </table>
    </div>
    </div>
    <div class="row border border-secondary rounded">
      <div class="col-sm">
        <h6>{{ language_strings['DASHBOARD_ACTIONS_TITLE'] }}</h6>
        <a class="btn btn-success" href="{{ url_for('main.start_interface',id=0) }}">{{ language_strings['DASHBOARD_ACTIONS_START'] }}</a>
        <a class="btn btn-danger" href="{{ url_for('main.stop_interface',id=0) }}">{{ language_strings['DASHBOARD_ACTIONS_STOP'] }}</a>
        <a class="btn btn-info" href="{{ url_for('main.restart_interface',id=0) }}">{{ language_strings['DASHBOARD_ACTIONS_RESTART'] }}</a>
        <a class="btn btn-warning" href="{{ url_for('main.rebuild_interface',id=0) }}">{{ language_strings['DASHBOARD_ACTIONS_REBUILD'] }}</a>
        <p></p>
      </div>
    </div>
  </div>
</div>
{% endblock content%}